/median/synthese/*
!/median/synthese/Makefile
!/median/synthese/de1Soc.qsf
!/median/synthese/synthesis.tcl
/median/simulation/transcript
/median/simulation/work/*
touch median/simulation/.gitkeep
touch median/simulation/work/.gitkeep